### Step 0: Import the necessary Packages

In [1]:
import pandas as pd

### Step 1: Import the Data

In [2]:
musicData = pd.read_csv('music.csv')

In [3]:
musicData.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

We need to split our data into input and output sets, this means that we will be giving our model input(age and gender) then it will be giving us output(which in this case is the genre)

In [6]:
X = musicData.drop(columns = 'genre')