### Step 0: Import the necessary Packages

In [11]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

### Step 1: Import the Data

In [2]:
musicData = pd.read_csv('music.csv')

In [3]:
musicData.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

We will jump step 2, `cleaning Data` since our data is clean and doesn't need to be cleaned need to split our data into input and output sets, this means that we will be giving our model input(age and gender) then it will be giving us output(which in this case is the genre)

### Step 3: Spliting the Data into Test/Train or input or output

In [12]:
X = musicData.drop(columns = 'genre')
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

 - we can now see that the new input set has genre column droped

### Output sets

In [13]:
y = musicData['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

### Step 4: Create a Model

- We will use a Model called Decision Tree, it's found from sklearn

In [14]:
model = DecisionTreeClassifier()

### Step 5: Train(Fit) the model using the input and output

In [15]:
model.fit(X, y)

DecisionTreeClassifier()

### Step 6: Make predictions
- This takes a

In [ ]:
model.predict()